@model Black_friday.Models.sale

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.interest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.about)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.about)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.group_sale.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group_sale.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
