@using Black_friday.Models;
@{
    ViewBag.Title = "Home Page";
}


<section class=" lami-sections">
    <div class="slider">
        <div class="owl-carousel owl-theme">
            @foreach (sale item in ViewBag.saleProduct)
            {
                <div>
                    <div class="slider-carousel">
                        <div class="slider-carousel-overlay">
                        </div>
                        <img src="~/Upload/@item.image.name" alt="">
                        <div class="text">
                            <div class="row">
                                <div class="col-md-9 col-sm-12 col-xs-12">
                                    <h5>@Html.Raw(item.about)</h5>
                                    
                                    <div class="stars">
                                        <ul class="stars">
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star grey-icon" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <h5>(500rates)</h5>
                                            </li>
                                            <li>
                                                <h5>
                                                    Expires in:
                                                    <span>2 days</span>
                                                </h5>
                                            </li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="get-code-button">
                                        <a href="#">
                                            55555
                                            <span>Get Code</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


       
        </div>
    
    </div>
</section>
<section class="category">
        <div class="container-fluid">
            <div class="row">
                <div class="owl-carousel category-slider">
                    @foreach (category item in ViewBag.category)
                    {
                        <div>
                            <div class="slider-icon">
                                <a href="">

                                    <img src="~/Upload/@item.icon" alt="">

                                </a>
                            </div>
                            <div class="slider-name">
                                <a href="">@item.name</a>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </section>
    <section class="service">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="service-box">
                        <img src="~/Upload/polygon.jpg" alt="">
                        <div class="box-content">
                            <div class="content-icon">
                                <a href="">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="content-text">
                                <div class="text-top">
                                    <a href="#">reacive a gift</a>
                                </div>
                                <div class="text-body">
                                    <h5>reacive gift over order $125</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="box-image">
                            <img src="~/Upload/polygon1.jpg" alt="">
                        </div>
                        <div class="box-content">
                            <div class="content-icon">
                                <a href="">
                                    <i class="fa fa-rocket" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="content-text">
                                <div class="text-top">
                                    <a href="#">FREE SHIPPING</a>
                                </div>
                                <div class="text-body">
                                    <h5>MORE THAN ORDER $25</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="box-image">
                            <img src="~/Upload/polygon2.jpg" alt="">
                        </div>
                        <div class="box-content">
                            <div class="content-icon">
                                <a href="">
                                    <i class="fa fa-headphones" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="content-text">
                                <div class="text-top">
                                    <a href="#">24/7 SUPPORT</a>
                                </div>
                                <div class="text-body">
                                    <h5>FELL FREE TO CONTACT</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="margin-t-100 ">
        <div class="latest-deals section-box padding-b-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 margin-b-30">
                        <div class="box1">
                            <div class="box">
                                <h3>
                                    <a href="#">
                                        <img src="~/Upload/label.png" alt="">
                                    </a>
                                    Latest deals
                                </h3>
                            </div>
                            <div class="symbol">
                                <h5>
                                    view all
                                    <a href="#">
                                        <img src="~/Upload/external-link-symbol.png" alt="">
                                    </a>
                                </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- <div class="row box">
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <h3>
                                    <a href="#">
                                        <img src="~/Upload/label.png" alt="">
                                    </a>
                                    Latest deals
                                </h3>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="symbol">
                                    <h5>
                                        view all
                                        <a href="#">
                                            <img src="~/Upload/external-link-symbol.png" alt="">
                                        </a>
                                    </h5>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    
                       @{ var counter = 0; }

                        @foreach (product item in ViewBag.latest_dealsProduct)
                        {


                            @counter++ 
                            

                                <% @if(counter>=9) { 
                                break;
                                 }
                            
                        <div class="col-md-4 col-sm-12 col-xs-12 margin-b-30">
                            <div class="box-a">
                                <div class="img margin-b-20">
                                    <img src="~/Upload/@item.image.name" alt="" style="height:231px">
                                </div>
                                <div class="box-text">
                                    <div class="box-detail">
                                        <div class="">
                                            <h4 class="margin-b-20">
                                                <a href="@Url.Action("deals_single","deals", new { id = item.id })">@Html.Raw(item.description.title)</a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="stars">
                                        <ul class="stars">
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star grey-icon" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="text">
                                        <p>@Html.Raw(item.description.about)</p>
                                        <h4 class="margin-b-20">
                                            <p class="red">
                                                <i class="fa fa-usd" aria-hidden="true"></i>
                                                190
                                                <del class="grey">
                                                    <i class="fa fa-usd" aria-hidden="true"></i>
                                                    250
                                                </del>
                                            </p>
                                        </h4>



                                    </div>
                                </div>

                            </div>
                            <div class="box-detail"></div>
                        </div>
                    }

                    
                    

                </div>
            </div>
        </div>
       </div>
    </section>
    <section class="trending">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="trending-top">
                        <div class="top-icon">
                            <p>

                                <a href="">
                                    <img src="~/Upload/stars-couple-of-different-sizes.png" alt="">
                                </a>
                                TODAY'S TRENDING OFFERS
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="trending-bottom">
                <div class="row">
                    <div class="owl-carousel">
                        @foreach (product item in ViewBag.trendingProduct)
                        {
                            <div>
                                <div class="bottom-content">
                                    <div class="content-image">
                                        <img src="~/Upload/@item.image.name" alt="">
                                    </div>
                                    <div class="content-text">
                                        <div class="text-upper">
                                            <a href="">@Html.Raw(item.description.about)</a>
                                            
                                        </div>
                                        <div class="text-stars">
                                            <ul>
                                                <li>
                                                    <i class="fa fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fa fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fa fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fa fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fa fa-star"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="text-date">
                                            <p>
                                                Expires in:
                                                <span>2 days</span>
                                            </p>
                                        </div>
                                        <div class="get-code-button">
                                            <a href="">
                                                5566778
                                                <span>Get Code</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }



                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="margin-t-100 ">
        <div class="popular-stores section-box padding-bt-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 margin-b-30">
                        <div class="box1">
                            <div class="box">
                                <h3>
                                    <a href="#">
                                        <img src="~/Upload/shopping-bag.png" alt="">
                                    </a>
                                    popular stores
                                </h3>
                            </div>
                            <div class="symbol">
                                <h5>
                                    view all
                                    <a href="#">
                                        <img src="~/Upload/external-link-symbol.png" alt="">
                                    </a>
                                </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    @foreach (image item in ViewBag.popular)
                    {
                        <div class="col-md-3 col-sm-6 col-xs-6 margin-b-30">
                            <div class="brand-img">
                                <img src="~/Upload/@item.name" alt="">
                                <div class="over">
                                    <h4>
                                        <a href="#">up to 15% cash back offer</a>
                                    </h4>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </section>
    <section class="coupons trending ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="trending-top">
                        <div class="top-icon">

                            <p>
                                over 400+ coupons available
                                <a href="">
                                    <img src="~/Upload/coupon.png" alt="">
                                </a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="trending-bottom">
                <div class="row">
                    <div class="owl-carousel">
                        @foreach (product item in ViewBag.couponsProduct)
                        {
                            <div>
                                <div class="bottom-content">
                                    <div class="content-image">
                                        <img src="~/Upload/@item.image.name" alt="">
                                    </div>
                                    <div class="content-text">
                                        <div class="text-scissors">
                                            <span class="img1">
                                                <img src="~/Upload/1.png" alt="">
                                            </span>
                                            <span class="img2">
                                                <img src="~/Upload/2.png" alt="">
                                            </span>
                                        </div>
                                        <div class="text-upper">
                                         
                                                <a href="@Url.Action("Coupons_details","coupons", new { id = item.id })">@Html.Raw(@item.description.title)</a>
                                               

                                 
                                            
                                       </div>
                                        <div class="text-store">
                                            <p>
                                                Stores -
                                                <span>Amazon,Snapdeal, Yepme</span>
                                            </p>
                                        </div>
                                        <div class="text-date">
                                            <p>
                                                Expires:
                                                <span>25-11-2017</span>
                                            </p>
                                        </div>
                                        <div class="get-code-button">
                                            <a href="@Url.Action("Coupons_details","coupons", new { id = item.id })">
                                                5566778
                                                <span>Get Code</span>
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="latest-blog trending">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="trending-top">
                        <div class="top-icon">
                            <p>
                                <a href="">
                                    <img src="~/Upload/blogger-logotype.png" alt="">
                                </a>
                                LATEST BLOG
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="trending-bottom">
                <div class="row">
                    <div class="owl-carousel">
                        @foreach (product item in ViewBag.BlogProduct)
                        {
                            <div>
                                <div class="bottom-content">
                                    <div class="content-image">
                                        <img src="~/Upload/@item.image.name" alt="">
                                    </div>
                                    <div class="content-text">
                                        <div class="text-upper">
                                            <a href="@Url.Action("Blog_details","blog", new { id = item.id })">@Html.Raw(@item.description.title)</a>
                                            
                                        </div>
                                        <div class="text-font">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        <div class="font-icon">
                                                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="font-text">
                                                            <p>May 24,2016</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <div class="font-icon">
                                                            <i class="fa fa-comment" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="font-text">
                                                            <p>COMMENTS</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="text-paragraph">
                                            <p>
                                                @Html.Raw(item.description.about)
                                            </p>
                                           
                                        </div>
                                        <div class="read-more">
                                            <a href="@Url.Action("Blog_details","blog", new { id = item.id })">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-partners ">
        <div class="our-partners trending">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="trending-top">
                            <div class="top-icon">
                                <p>
                                    <a href="#">
                                        <img src="~/Upload/hand-shake.png" alt="">
                                    </a>
                                    our partners
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="trending-bottom">
                    <div class="row">
                        <div class="owl-carousel">
                            @foreach (image item in ViewBag.partners)
                            {
                                <div>
                                    <div class="bottom-content">
                                        <div class="content-image">
                                            <img src="~/Upload/@item.name" alt="">
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
